/DeployLIB/*.exp
/DeployLIB/*.ilk
/DeployLIB/*.pdb
/__vsBin
/*.dropbox
/Deploy/CYRED_Editor/*.pdb
/Deploy/CYRED_Editor/*.ilk
/Deploy/CYRED_Standalone/*.pdb
/Deploy/CYRED_Standalone/*.ilk
desktop.ini
/.vs
/*.opensdf
/*.sdf
/*.VC.db
/*.VC.opendb
