{
    "fullscreen": true,
    "width": 1304,
    "height": 745,
    "pos_x": 0,
    "pos_y": 0,
    "fps": 60,
    "project_name": "GMRV",
    "project_path": "../GMRV-Project/cyredproj",
    "panels": [
        {
            "type": "ASSETS",
            "width": 243,
            "height": 506
        },
        {
            "type": "SCENE_VIEWPORT",
            "width": 507,
            "height": 371,
            "split_from": "ASSETS",
            "split_type": "HORIZONTAL",
            "viewport_index": 0
        },
        {
            "type": "ATTRIBUTES",
            "width": 300,
            "height": 670,
            "split_from": "SCENE_VIEWPORT",
            "split_type": "HORIZONTAL"
        },
        {
            "type": "PREFAB_VIEWPORT",
            "width": 507,
            "height": 274,
            "split_from": "SCENE_VIEWPORT",
            "split_type": "VERTICAL",
            "viewport_index": 1
        },
        {
            "type": "ISOLATE_VIEWPORT",
            "width": 507,
            "height": 274,
            "split_from": "PREFAB_VIEWPORT",
            "split_type": "NEW_TAB",
            "viewport_index": 2
        },
        {
            "type": "GAME_VIEWPORT",
            "width": 507,
            "height": 274,
            "split_from": "PREFAB_VIEWPORT",
            "split_type": "NEW_TAB",
            "viewport_index": 100
        },
        {
            "type": "CONSOLE",
            "width": 489,
            "height": 160,
            "split_from": "ASSETS",
            "split_type": "VERTICAL"
        },
        {
            "type": "SCENE_HIERARCHY",
            "width": 242,
            "height": 281,
            "split_from": "ASSETS",
            "split_type": "HORIZONTAL"
        },
        {
            "type": "PREFAB_HIERARCHY",
            "width": 242,
            "height": 200,
            "split_from": "SCENE_HIERARCHY",
            "split_type": "VERTICAL"
        },
        {
            "type": "ISOLATE_HIERARCHY",
            "width": 242,
            "height": 200,
            "split_from": "PREFAB_HIERARCHY",
            "split_type": "NEW_TAB"
        }
    ]
}