{
    "fullscreen": true,
    "width": 1200,
    "height": 700,
    "pos_x": 0,
    "pos_y": 0,
    "fps": 60,
    "project_name": "El-Labyrintho-Cyred",
    "project_path": "../El-Labyrintho-Cyred/El-Labyrintho-Cyred.cyredproj",
    "panels": [
        {
            "type": "ASSETS",
            "width": 270,
            "height": 551
        },
        {
            "type": "SCENE_VIEWPORT",
            "width": 480,
            "height": 328,
            "split_from": "ASSETS",
            "split_type": "HORIZONTAL",
            "viewport_index": 0
        },
        {
            "type": "ATTRIBUTES",
            "width": 300,
            "height": 670,
            "split_from": "SCENE_VIEWPORT",
            "split_type": "HORIZONTAL"
        },
        {
            "type": "PREFAB_VIEWPORT",
            "width": 480,
            "height": 317,
            "split_from": "SCENE_VIEWPORT",
            "split_type": "VERTICAL",
            "viewport_index": 1
        },
        {
            "type": "ISOLATE_VIEWPORT",
            "width": 507,
            "height": 317,
            "split_from": "PREFAB_VIEWPORT",
            "split_type": "NEW_TAB",
            "viewport_index": 2
        },
        {
            "type": "GAME_VIEWPORT",
            "width": 569,
            "height": 298,
            "split_from": "PREFAB_VIEWPORT",
            "split_type": "NEW_TAB",
            "viewport_index": 100
        },
        {
            "type": "CONSOLE",
            "width": 516,
            "height": 115,
            "split_from": "ASSETS",
            "split_type": "VERTICAL"
        },
        {
            "type": "SCENE_HIERARCHY",
            "width": 242,
            "height": 302,
            "split_from": "ASSETS",
            "split_type": "HORIZONTAL"
        },
        {
            "type": "PREFAB_HIERARCHY",
            "width": 242,
            "height": 224,
            "split_from": "SCENE_HIERARCHY",
            "split_type": "VERTICAL"
        },
        {
            "type": "ISOLATE_HIERARCHY",
            "width": 242,
            "height": 224,
            "split_from": "PREFAB_HIERARCHY",
            "split_type": "NEW_TAB"
        }
    ]
}