{
	"fullscreen": true,
	"width": 1200,
	"height": 700,
	"pos_x": 0,
	"pos_y": 0,
	"fps": 60,
	"panels": [
		{
			"type": "ASSETS"
		},
		{
			"type": "SCENE_VIEWPORT",
			"split_from": "ASSETS",
			"split_type": "HORIZONTAL",
			"viewport_index": 0
		},
		{
			"type": "ATTRIBUTES",
			"split_from": "SCENE_VIEWPORT",
			"split_type": "HORIZONTAL"
		},
		{
			"type": "PREFAB_VIEWPORT",
			"split_from": "SCENE_VIEWPORT",
			"split_type": "VERTICAL",
			"viewport_index": 1
		},
		{
			"type": "GAME_VIEWPORT",
			"split_from": "PREFAB_VIEWPORT",
			"split_type": "NEW_TAB",
			"viewport_index": 2
		},
		{
			"type": "CONSOLE",
			"split_from": "ASSETS",
			"split_type": "VERTICAL"
		},
		{
			"type": "SCENE_HIERARCHY",
			"split_from": "ASSETS",
			"split_type": "HORIZONTAL"
		},
		{
			"type": "PREFAB_HIERARCHY",
			"split_from": "SCENE_HIERARCHY",
			"split_type": "VERTICAL"
		}
	],
	"project_name": "El-Labyrintho-Cyred",
	"project_path": "../El-Labyrintho-Cyred/El-Labyrintho-Cyred.cyredproj"
}