{
    "app_name": "My Game",
    "fullscreen": false,
    "width": 800,
    "height": 600,
    "pos_x": 30,
    "pos_y": 50,
    "fps": 60,
    "start_scene": {
        "name": "testing",
        "path": "OpG9RI1FtJ7Khu4opRKMbcB8xDN9QMMX"
    },
    "assets": {
        "textures": [
            {
                "name": "Particle_Fire",
                "path": "vusq0hqBc9Sgo8UB01a3kWE8cGvVFMPU"
            },
            {
                "name": "Particle_Snow",
                "path": "JI5PoOBMjXlsEhtKzpzFlKPYerIYWY5k"
            },
            {
                "name": "test",
                "path": "g8FCleDKR8C1okcciqsX5nOVzakl8Qr2"
            }
        ],
        "scenes": [
            {
                "name": "mesh_morph",
                "path": "1r1ZzPke8tVLSIVt2XDDBH5bNbTnkoqe"
            },
            {
                "name": "particles",
                "path": "649r75cKPycmxNP3htWxhyCDJ5lCJKh2"
            },
            {
                "name": "testing",
                "path": "OpG9RI1FtJ7Khu4opRKMbcB8xDN9QMMX"
            }
        ],
        "shaders": [
            {
                "name": "Mesh_CelShading",
                "path": "3F70qXZBhFEq3XiIBie6IwVdpnqjJwx1"
            },
            {
                "name": "Mesh_Default",
                "path": "3F70qXZBhFEq3XiIBieeIwVdpnqjJwx1"
            },
            {
                "name": "Morph_CelShading",
                "path": "3F70qX5BhFEq3XiIBie6IwVdpnqjJwx1"
            },
            {
                "name": "Morph_Default",
                "path": "3F70qXZBhFEq3XiIBieeIwV7pnqjJwx1"
            },
            {
                "name": "Particles",
                "path": "LPaTVfT0Q8ByEIVcIgn5a3metEOD8KyS"
            },
            {
                "name": "Unlit_Diffuse",
                "path": "wVjCISzUz4f6ebIBanqcyKjCsZRuLgwq"
            }
        ],
        "materials": [
            {
                "name": "Mesh_CelShading",
                "path": "WCzQBXGkivO7vBxZN7GAmwOfmOdEjAjS"
            },
            {
                "name": "Mesh_Default",
                "path": "ERRZIeoxy0mp9FUDxH0orcMwNhWnrGvE"
            },
            {
                "name": "Morph_CelShading",
                "path": "WCzQBXGkivO7vBxgN7GAmwOfmOdEjAjS"
            },
            {
                "name": "Morph_Default",
                "path": "ERRZIeoxy0mp9FUDxH0drcMwNhWnrGvE"
            },
            {
                "name": "Particle_Fire",
                "path": "11xRXKm81TpPl1T1OlF0J4KsqZMm20FP"
            },
            {
                "name": "Particle_Snow",
                "path": "LTBnPBi3LXWQGACIAoHXu1l0VmBnOIUy"
            },
            {
                "name": "Standard3D",
                "path": "chFbRmqXjq19ONmNQSKe4XA09mpXgnmn"
            }
        ],
        "meshes": [
            {
                "name": "sphere_0",
                "path": "AKMPXdCG15fh3fVsYxOAREnyy6jncGIN"
            },
            {
                "name": "sphere_1",
                "path": "LtcEbu2vkxSmmBQza7LIkJi6yhMkYmS9"
            },
            {
                "name": "sphere_2",
                "path": "2TugqKISRZ7TcG9nS9sJ0ypTsPJnCpXx"
            }
        ],
        "morphs": [
            {
                "name": "sphere",
                "path": "AKMPXdCG15fh3fVsYxOAREnyy6jnciIN"
            }
        ],
        "scripts": [
            {
                "name": "InputMover",
                "path": "LPaTVfT098ByEIVcIgn5a3metEOD8KyS"
            },
            {
                "name": "Spinner",
                "path": "ft0k1rSGED4yuGTEgYSMn7GfAQEY1Sv9"
            }
        ]
    }
}