{
    "app_name": "Pong Test Game",
    "fullscreen": false,
    "width": 1200,
    "height": 600,
    "pos_x": 50,
    "pos_y": 50,
    "fps": 60,
    "start_scene": {
        "name": "Gameplay",
        "path": "MS4lMlLMgGsxtREZjvObXcUnN0DIxSRG"
    },
    "assets": {
        "textures": [
            {
                "name": "Ball",
                "path": "zeh9WXXKtBRaaAp5ScdlvTylk57aeKqE"
            },
            {
                "name": "Pad",
                "path": "UZMEm9kmrak9nzSRfkhVZ1Eg8Q4PhH2Q"
            },
            {
                "name": "ScorePoint",
                "path": "xwUypQNb6Bh6Ge0pkguJ1WuGpklODWEq"
            }
        ],
        "scenes": [
            {
                "name": "Gameplay",
                "path": "MS4lMlLMgGsxtREZjvObXcUnN0DIxSRG"
            }
        ],
        "shaders": [
            {
                "name": "Default",
                "path": "VK9fuQYc5qFUDsXHWJc5oI69TpwXswim"
            }
        ],
        "materials": [
            {
                "name": "Ball",
                "path": "UT8FqhgFPE3eTdfXZH5Fe6omQAIsCoQ4"
            },
            {
                "name": "Pad",
                "path": "vwkBRbMX17dF7atRwWBPecnUM42L1i5y"
            }
        ],
        "meshes": [
            {
                "name": "Quad",
                "path": "yXP4JlkURv3RV9ujlRwBmNj9xLc0EFBM"
            }
        ],
        "morphs": [],
        "scripts": [
            {
                "name": "Ball",
                "path": "ak55NgvPwODryAwCGyr8j2MemTDfiLSZ"
            },
            {
                "name": "LevelManager",
                "path": "ORBpMONUJvc9Xa1fo6054T4G1qM31UAM"
            },
            {
                "name": "Pad",
                "path": "uKzqtgG0OkbspT92cFfY5eeUJnB6wlqP"
            }
        ]
    }
}