{
    "app_name": "My Game",
    "fullscreen": false,
    "width": 800,
    "height": 600,
    "pos_x": 30,
    "pos_y": 50,
    "fps": 60,
    "start_scene": {
        "name": "Gameplay",
        "path": "eSYa0tyIbsPsogByxvU0WKKe1PUvuCop"
    },
    "assets": {
        "textures": [
            {
                "name": "PureWhite",
                "path": "GKZsidCsQORMpow2QG7BkcZQWwdRWUy4"
            },
            {
                "name": "Grass",
                "path": "aevZz4kVuSL7O4OYeKoGML7Wy7uj3aQy"
            },
            {
                "name": "Wall",
                "path": "tIE9nDTsNLZT6C4CTILPBrCt2erNJRYT"
            },
            {
                "name": "Floor_NRM",
                "path": "zmJezDSzCByO81wLGMrsfzuVcMlt0jTC"
            },
            {
                "name": "Wall_NRM",
                "path": "4OzXxFpQzS1MEOM1LbDCM5WKqeTaG2Ky"
            }
        ],
        "scenes": [
            {
                "name": "aa",
                "path": "XKhnm22xmu0B1jVU1a1v6rYDkY2U9R6x"
            },
            {
                "name": "Gameplay",
                "path": "eSYa0tyIbsPsogByxvU0WKKe1PUvuCop"
            },
            {
                "name": "textscene",
                "path": "8kTnUOjjLevF4H5MXhpySj62P7OBYr98"
            }
        ],
        "shaders": [
            {
                "name": "GizmoBackground",
                "path": "qM2IeaMhgYunANVJ0jQZWrSjTBoBPWOV"
            },
            {
                "name": "Mesh_Lines",
                "path": "3t5LkADyST9k44osXXNw4v5PHvOoLwKY"
            },
            {
                "name": "Picking_Mesh_Lines",
                "path": "xZgBg9rK4Z4EL7IXepbH5kkuJT2pQu3D"
            },
            {
                "name": "Picking_Mesh_Solid",
                "path": "l26hzzdyUJq3JHwk58k1GHZa2R7nUuEg"
            },
            {
                "name": "Text3D_Basic",
                "path": "is72NhrsVxvjJfbFUkMOrE7dASXCPiOM"
            },
            {
                "name": "Mesh_CelShading",
                "path": "3F70qXZBhFEq3XiIBie6IwVdpnqjJwx1"
            },
            {
                "name": "Mesh_DiffuseColor",
                "path": "qYgaWilUh1KooYAHpNSpjqW4UTMG81pC"
            },
            {
                "name": "Mesh_DiffuseTexture",
                "path": "qYgaWilUh1KooYAHpNSpjqW8UTMG81pC"
            },
            {
                "name": "Mesh_SpecularBump",
                "path": "7jI5LyNtIbJRV5R1aS4rMTki8YDUiZOg"
            },
            {
                "name": "Mesh_SpecularDiffuse",
                "path": "qYgaWilUh1KooYAgpNSpjqW8UTMG81pC"
            },
            {
                "name": "Mesh_UnlitTexture",
                "path": "wVjCISzUz4f6ebIBanqcyKjCsZRuLgwq"
            },
            {
                "name": "Mesh_UnlitVertex",
                "path": "uuEVojX8cj6GAAfQIkVEBLD6nSWGFVtf"
            },
            {
                "name": "Morph_Basic3D",
                "path": "3F70qXZBhFEq3XiIfieeIwV7pnqjJwx1"
            },
            {
                "name": "Morph_CelShading",
                "path": "3F70qX5BhFEq3XiIBie6IwVdpnqjJwx1"
            },
            {
                "name": "Morph_DiffuseColor",
                "path": "qYgaWilUh5KooYAHpNSpjqW4UTMG81pC"
            },
            {
                "name": "Particles",
                "path": "LPaTVfT0Q8ByEIVcIgn5a3metEOD8KyS"
            },
            {
                "name": "Picking_Text3D",
                "path": "0EgJGbOGWmhAgciYT7ZotNL0OYOKXqZj"
            }
        ],
        "materials": [
            {
                "name": "GizmoBackground",
                "path": "fNWEA7c2A5KgQDtDHAXsB8i0AC3e97Fh"
            },
            {
                "name": "GizmoLines",
                "path": "58LoBJiwlgChKLWvUhOsB5AjY3WkPB7y"
            },
            {
                "name": "GizmoPivot",
                "path": "tgu2lRu5bPud2pdUYkXVbWWUaRVfby2F"
            },
            {
                "name": "Text3D_Basic",
                "path": "I7buEJzEElRXWjN5iRfNG8WCkcC1Fogk"
            },
            {
                "name": "Picking_Mesh_Lines",
                "path": "cxjdxEB89KvW3Rp4BVnAy29e7boouTVs"
            },
            {
                "name": "Picking_Mesh_Solid",
                "path": "v2WfDVGXgCwRu0gzH2Q78Y8K66Rt6uSu"
            },
            {
                "name": "Picking_Text3D",
                "path": "g80gzSzndw0YhLD2rZAPKgQQCsLJ7GnE"
            },
            {
                "name": "Ground",
                "path": "BxTFYR4SKJTcYpgM1tPSXjQLDPyLG9Vg"
            },
            {
                "name": "Obstacle",
                "path": "XMulYyWh68JqhnyzTIbsDtltUMFwhoTq"
            },
            {
                "name": "PlayerCenter",
                "path": "ZUcMQ4O415dkLYq86aasYbuOhhQXcIzd"
            },
            {
                "name": "Spawner",
                "path": "8cqllk0OzDNu5ZzI5jqRjIfz9gx4WzI5"
            }
        ],
        "meshes": [
            {
                "name": "GizmoAxis",
                "path": "HIFbVNDCCY9q18q4kmXGyIlefoqrp3cQ"
            },
            {
                "name": "GizmoBackground",
                "path": "YbqU8CFAy2okmP1Hxdm1IeSNs9yKsSRB"
            },
            {
                "name": "GizmoCollisionBox",
                "path": "LODYxUL8oroQbsWGF43qTETKlviaxnYU"
            },
            {
                "name": "GizmoCollisionSphere",
                "path": "DnDEJrPwTJhaQuICyODv2EqUTVRZkL5D"
            },
            {
                "name": "GizmoDirLight",
                "path": "KXGyWXQYiI6Cxsa4LjuPmunBKN2bqRu3"
            },
            {
                "name": "GizmoGrid",
                "path": "4vGpRhdg0VpbuLc5X4VlYCkQVQf7i4Os"
            },
            {
                "name": "GizmoOrthoCamera",
                "path": "sDPQS7zKZ5B8lz4z7IuahNBxnCW2DktQ"
            },
            {
                "name": "GizmoPerspCamera",
                "path": "PsRKBAgXgVEq7y9QH1ktkEUxRIM7uXas"
            },
            {
                "name": "GizmoPivot",
                "path": "Xui1vEVuWJZtxqfs8rwe3LoDSWfMNMXq"
            },
            {
                "name": "GizmoPointLight",
                "path": "SHkAElkERKYKTYL8E2rjsSIPDiWbiV6H"
            },
            {
                "name": "GizmoSpotLight",
                "path": "3ma7MFovgams2FqmspV3hTCxH5jPZMfj"
            },
            {
                "name": "Cube",
                "path": "4fThkJlKroDSck0AQrotxjQZG3Tu5DVR"
            },
            {
                "name": "Plane",
                "path": "pxMbWHcjTNFY1diqDsDPDouxNJ9cM0fh"
            },
            {
                "name": "Quad",
                "path": "yXP4JlkURv3RV9ujlRwBmNj9xLc0EFBM"
            },
            {
                "name": "Sphere",
                "path": "37Avro8vtrmxw4p2WnNPhpmG7zzwvOFw"
            }
        ],
        "morphs": [],
        "scripts": [
            {
                "name": "Clicker",
                "path": "0CUR4k4kcstk95nyZ2XeBRPltUPw76HS"
            },
            {
                "name": "FPS",
                "path": "rOvzAyfFtfSd0lOXTlbu9OjhqMEBZeyR"
            },
            {
                "name": "Ground",
                "path": "AMbncFu407agMe9H67gxgpVDqsiZQbvi"
            },
            {
                "name": "Spawner",
                "path": "wUNMqUxnJSJkRs36M8iaT3mxjLDJQh5Y"
            }
        ],
        "fonts": [
            {
                "name": "Arial",
                "path": "gHfkckUFA677qimC3lZ81NOmi5UJdUEr"
            }
        ],
        "prefabs": [
            {
                "name": "GizmoAxis",
                "path": "PPxiKiAI7mKNtJHdCM6mNznIXnqCzo3M"
            },
            {
                "name": "GizmoBackground",
                "path": "ICoCQNX7meM9AW3AFZK8jq0EpUjcdJzT"
            },
            {
                "name": "GizmoCollisionBox",
                "path": "EZiTttQwEpaRmLyDECeh0e5jcP2CKqnZ"
            },
            {
                "name": "GizmoCollisionSphere",
                "path": "NtY6rUG0VVVjROwB1lw7Mn01wCEDvnvo"
            },
            {
                "name": "GizmoDebugText",
                "path": "gpCPADVCbqaANwDQI3Qgra8s67fc0yor"
            },
            {
                "name": "GizmoDirLight",
                "path": "Z4a2nOWaBN8iuV87SUl1BikXtznDzfb3"
            },
            {
                "name": "GizmoGrid",
                "path": "pT3dFBGopLRaWGfIo7PlxFqyilC0B3o5"
            },
            {
                "name": "GizmoOrthoCamera",
                "path": "lbGaf5aW5OMNm0G0VnQ0wdpgLmN7Ad9C"
            },
            {
                "name": "GizmoPerspCamera",
                "path": "I9nZJhq6Ikbgqh0zmPsXLt0e1LbbjoyI"
            },
            {
                "name": "GizmoPivot",
                "path": "45NtJgWbh8zZ9Jrgt0tnxfbC438jeMDU"
            },
            {
                "name": "GizmoPointLight",
                "path": "zkMRJZtUbQ2nJkP4zOGUylXr4WQONffq"
            },
            {
                "name": "GizmoSpotLight",
                "path": "OcMJcqPJDotXfJkaFyeuyzRx62YOalvb"
            },
            {
                "name": "Obstacle",
                "path": "nTFiMsBvBLV2iUyTj20Y0vB7FfLBcGnm"
            },
            {
                "name": "Player",
                "path": "ecZy1L9FXgFFhALD2Rv9hnxmUgWVCcwa"
            }
        ]
    }
}